* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background-color: #f1f1f1;
  font-family: "roboto", sans-serif;
}

.sticky {
  border-right: 2px solid #9ea5a5;
  width: 15%;
  /* position: sticky; */
  flex-grow: 1;
}

.sticky #top {
  text-align: center;
  padding: 15px 0;
  font-weight: 400;
  border-bottom: 1px solid #9ea5a5;
}

.nav {
  padding: 15px;
  border-bottom: 1px solid #9ea5a5;
}

.nav:hover {
  background-color: #4d4e53;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #6e6f73;
}

.nav a:hover {
  color: #fff;
}

.container {
  flex-grow: 2;
  padding: 0 20px;
  width: 85%;
}

table {
  width: 100%;
  border: 1px solid #9ea5a5;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.table-header {
  padding: 20px 0;
  font-weight: 400;
}
